:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
  --border-light: #878787;
  --border-dark: #aaaaaa;
  --publications-light: #d8d8d8;
  --publications-dark: #474747;
  --publication-light: #ffffff;
  --publication-dark: #1a1a1a;
}

[data-theme="light"] {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
  --border-color: var(--border-light);
  --publications-color: var(--publications-light);
  --publication-color: var(--publication-light);
}

[data-theme="dark"] {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
  --border-color: var(--border-dark);
  --publications-color: var(--publications-dark);
  --publication-color: var(--publication-dark);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

hr {
  width: 90%;
  border: 1px solid var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  object-fit: cover;
  border-radius: 100px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.toggle-label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #cccccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
}

.toggle-label::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  left: 0;
  top: 0;
  transition: transform 0.3s;
  display: inline-block;
}

#toggle:checked+.toggle-label {
  background-color: #000000;
}

#toggle:checked+.toggle-label::before {
  transform: translateX(30px);
}

.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cv-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cv-timespan {
  width: 100px;
  border-right: 2px solid var(--border-color);
  display: flex;
  color: var(--border-color);
}

.cv-timespan-date {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin-right: 10px;
}

.cv-timespan-date div {
  margin-left: 5px;
  font-size: 14px;
}

.cv-entry {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.cv-entry-dot {
  position: absolute;
  left: -8px;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: #b1b0b0;
  border: 2px solid var(--background-color);
  transition: border 0.3s;
}

.cv-entry img {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
}

.cv-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv-description h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.publications-container {
  padding-top: 20px;
  background-color: var(--publications-color);
  text-align: center;
  padding-bottom: 50px;
}

.publications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.publication {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--publication-color);
  transition: transform 0.3s ease-in-out;
}

.publication:hover {
  transform: scale(1.05);
}

.publication img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.publication h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .cv-container {
    margin-left: 2%;
    margin-right: 8%;
  }

  .cv-timespan {
    width: 60px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .cv-timespan-date {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
  }

  .cv-timespan-date div {
    margin: 0;
    font-size: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .cv-entry {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .cv-entry-dot {
    position: absolute;
    top: 19px;
    left: -28px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #b1b0b0;
    border: 2px solid var(--background-color);
  }

  .cv-entry img {
    height: 50px;
    margin: 0;
  }
}